@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts: */

/* @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"); */

@font-face {
  font-family: "HKGrotesk Wide";
  src: url("../public/fonts/HKGroteskWide_2020W/WEB/HKGroteskWide-Regular.woff")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm sans";
  src: url("../public/fonts/DMsans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
